DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=

DB_NAME=db.sqlite3

AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_AUDIENCE=https://employee-management-api
AUTH0_ALGORITHMS=RS256
